* {
    font-family: 'Zen Kaku Gothic New', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    background: url(https://images.pexels.com/photos/5088008/pexels-photo-5088008.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) !important;
    background-attachment: fixed !important;
    background-size: cover !important;
}

.container{
    margin: left;
}

h1{
    text-align: center;
    color: white;
    text-shadow: 1px 1px 5px black;
}

.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
    font-size: smaller;
    background-color: black;
    border-top: 1px solid black;
    color: white;
}

.footer a{
    text-decoration: none;
    color: white;
}

.footer a:hover{
    color: red;
}